<div class="right menu">
    <div class="item">
        <div class="ui form">
            <form method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
                <div class="ui small icon input">
                    <input type="text" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __("Search …") }}" name="search">
                    <i class="search icon"></i>
                </div>
            </form>
        </div>
    </div>
</div>
