
<form method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain" class="right">
    <div class="ui small icon input">
        <input type="text" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __("Search …") }}" name="search">
        <i class="search icon"></i>
    </div>
</form>
